{% extends 'base.html' %}

{% block page_title %} Super Foods | Your No.1 Solution to Confinement Headaches{% endblock %}

{% block content %}
<!-- Ingredient list -->
<div id='ingredient' class='bg-light mx-4'> 
    <p class='mx-4'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ducimus soluta quae libero illo modi quisquam numquam, nobis, mollitia fugit odit doloremque, maxime veritatis vero cumque optio praesentium! Rerum, earum.</p>
    
    <div class='ingredient-display row mx-auto'>
      <!-- BLACK BEANS -->
      <div class='col-md-4 col-sm-6 col-12'>
        <div class='ingredient-box mx-auto my-3'>
          <img src="../static/images/ingredients/beans_black.png" alt="black beans">
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptatem ratione minima. Quidem iusto, veniam sint esse commodi ratione cupiditate ea laudantium repudiandae corrupti obcaecati eligendi aspernatur excepturi! Quisquam, repellendus?
        </p>
      </div>
    </div>
</div>  
{% endblock %}