{% extends 'base.html' %}

{% block page_title %}Confinement Daddy | Your No.1 Solution to Confinement Headaches{% endblock %}

{% block content %}
<div id='main' class='text-dark'>
    <div id='main-page'>
        <img class='cordyceps ml-5' src="../static/images/cordyceps.png">
    </div>
    <div id='main-content' class='justify-content-center align-center'>
        <div>

            <p id='main-introduction' class='bg-dark text-white m-4 p-4 rounded'>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam cupiditate odit saepe animi neque cumque et maxime nostrum. Vel suscipit eius quibusdam dignissimos dolorem iste et sapiente est beatae animi!
            </p>
        </div>
    </div>
</div>
{% endblock %}